.mandatory-empty,
input[readonly].mandatory-empty {
    border: 1px solid #CE5454 !important;
    box-shadow: 0 0 4px -2px #CE5454 !important;
    background-color: #f2bcd5 !important;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
    animation: 0.7s 1 shake linear;
}

a.disabled,
a.disabled:hover,
a.disabled:focus {
    color: #777;
}

a.disabled:hover,
a.disabled:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.hidden {
    display: none !important;
}